{% set var_ip = "req.http.Fastly-Client-IP" %}
## begin fastly-blocklist header ##

#fastlyblocklist_snippet {{ name }}
#fastlyblocklist_log {{ log_line }}
#fastlyblocklist_block {{ block_line }}

{% for list in lists.config_block %}
#fastlyblocklist_list {{ list }}
{% endfor %}

## end fastly-blocklist header ##
## begin fastly-blocklist content ##

declare local var.ip IP;
declare local var.int_block_expiration INTEGER;
declare local var.int_time_now INTEGER;

set var.ip = {{ var_ip }};
set client.geo.ip_override = var.ip;
set var.int_time_now = std.atoi(now.sec);

{% for var in custom_vars %}
declare local var.custom_{{ var.name }} STRING;
set var.custom_{{ var.name }} = urlencode({{ var.value }});
{% endfor %}

{% if shield_only %}
if (!req.backend.is_shield) {
{% endif %}

{% if lists.allow %}
# 'allow' lists
{% set allow = [] %}
{% for list in lists.allow %}
    {% do allow.append("var.ip !~ %s"|format(list.name)) %}
{% endfor %}
if ({{allow|join(' && ')}}) {
{% endif %}

    {% for list in lists.geo %}
    {% if not list.none %}
    # 'geo' list {{list.name}}
    if (table.lookup({{ list.name }}, client.geo.country_code)) {
        {% if list.log %}
        {{ log_line }}
        {% endif %}
        {% if list.block %}
        {{ block_line }}
        {% endif %}
    }
    {% endif %}
    {% endfor %}

    {% for list in lists.block %}
    {% if not list.none %}
    # 'block' list {{list.name}}
    if (var.ip ~ {{ list.name }}) {
        {% if list.log %}
        {{ log_line }}
        {% endif %}
        {% if list.block %}
        {{ block_line }}
        {% endif %}
    }
    {% endif %}
    {% endfor %}

    {% for list in lists.temp %}
    {% if not list.none %}
    # 'temp' list {{list.name}}
    if (table.lookup({{ list.name }}, var.ip)) {
        set var.int_block_expiration = std.atoi(
            table.lookup({{ list.name }}, var.ip)
        );
        if (var.int_block_expiration > var.int_time_now) {
            {% if list.log %}
            {{ log_line }}
            {% endif %}
            {% if list.block %}
            {{ block_line }}
            {% endif %}
        }
    }
    {% endif %}
    {% endfor %}

    {% for list in lists.var_exact %}
    {% if not list.none %}
    # exact 'var' list {{list.name}}
    if (table.lookup({{ list.name }}, {{ list.variable }})) {
        {% if list.log %}
        {{ log_line }}
        {% endif %}
        {% if list.block %}
        {{ block_line }}
        {% endif %}
    }
    {% endif %}
    {% endfor %}

    {% for parent in lists.combo %}
    {% if not parent.none %}
    {% if parent.children %}
    # 'combo' list {{parent.name}}
    {% set combo = [] %}
    {% for child in parent.children %}
        {% if child.type == 'block' %}
            {% do combo.append("var.ip ~ %s"|format(child.name)) %}
        {% elif child.type == 'geo' %}
            {% do combo.append("table.lookup(%s, client.geo.country_code)"|format(child.name)) %}
        {% elif child.type == 'temp' %}
            {% do combo.append("table.lookup(%s, var.ip)"|format(child.name)) %}
        {% elif child.type == 'var' and child.match == 'exact' %}
            {% do combo.append("table.lookup(%s, %s)"|format(child.name,child.variable)) %}
        {% elif child.type == 'var' and child.match == 'regexp' %}
            {% if child.strings %}
            {% set strings = [] %}
            {% for s in child.strings %}
                {% do strings.append("var.custom_%s ~ \"%s\""|format(child.name_short,s)) %}
            {% endfor %}
            {% do combo.append("(%s)"|format(strings|join(" || "))) %}
            {% endif %}
        {% endif %}
    {% endfor %}
    if ({{combo|join('\n\t && ')}}) {

        {% for child in parent.children %}
        {% if child.type == 'temp' %}
        set var.int_block_expiration = std.atoi(
            table.lookup({{ child.name }}, var.ip)
        );
        {% endif %}
        {% endfor %}

        {% if parent.children|selectattr('type','equalto','temp')|list %}
        if (var.int_block_expiration > var.int_time_now) {
            {% if parent.log %}
            {{ log_line }}
            {% endif %}
            {% if parent.block %}
            {{ block_line }}
            {% endif %}
        }
        {% else %}
        {% if parent.log %}
        {{ log_line }}
        {% endif %}
        {% if parent.block %}
        {{ block_line }}
        {% endif %}
        {% endif %}
    }
    {% endif %}
    {% endif %}
    {% endfor %}

    {% for list in lists.var_regexp %}
    {% if not list.none %}
    {% if list.strings %}
    # regexp 'var' list {{list.name}}
    {% set strings = [] %}
    {% for s in list.strings %}
        {% do strings.append("var.custom_%s ~ \"%s\""|format(list.name,s)) %}
    {% endfor %}
    if ({{ strings|join(" || ") }}) {
        {% if list.log %}
        {{ log_line }}
        {% endif %}
        {% if list.block %}
        {{ block_line }}
        {% endif %}
    }
    {% endif %}
    {% endif %}
    {% endfor %}

{% if lists.allow %}
}
{% endif %}

{% if shield_only %}
}
{% endif %}

## end fastly-blocklist content ##
